## .NET
bin/
obj/
*.nupkg
*.suo
*.user
*.userosscache
*.sln.docstats
*.userprefs

## dotnet tools
**/tools/**
**/packages/**
**/node_modules/**

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## JetBrains Rider
.idea/
*_Resharper.*/
/_ReSharper.Caches/
riderModule.iml

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm

## OS files
.DS_Store
Thumbs.db

## Secrets
appsettings*.local.*
appsettings*.Development.*
